/* ASIDE */
aside{
    background-color: #051e34;
    width: 4.375rem;
    color: white;
    font-size: 1.5625rem;
    text-align: center;
}
.ms-aside-list{
    list-style: none;
}
aside a{
    text-decoration: none;
    color: inherit;
}
aside .container-fluid{
    height: 100%;
}
aside .row{
    height: 100%;
}
/* RESPONSIVE */
@media screen and (min-width:992px) {
    aside{
        width: 16.875rem;
        padding-left: 2.5rem;
        text-align: left;
    }
}