/* ASIDE */
aside{
    background-color: #051e34;
    width: auto;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-image: url(../img/sidebar-bg.png);
}
aside .container-fluid{
    height: 100%;
}
aside .row{
    height: 100%;
}
/* lista link aside */
.ms-aside-list{
    list-style: none;
}
.ms-aside-list i, .ms-admin i{
    min-width: 1.25rem;
}
aside a{
    text-decoration: none;
    color: inherit;
}
.ms-aside-list li, .ms-admin {
    min-width: 1.875rem;
    border-radius: .625rem;
}
/* hover link aside */
.ms-aside-list li:hover, .ms-admin:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
.ms-aside-list li:hover a, .ms-admin:hover a{
    color: black;
}
/* RESPONSIVE */
@media screen and (min-width:992px) {
    aside{
        min-width: 11.25rem;
    }
}