/* ASIDE */
aside{
    background-color: #051e34;
    width: auto;
    color: white;
    font-size: 1.5625rem;
    text-align: center;
}
.ms-aside-list{
    list-style: none;
}
aside a{
    text-decoration: none;
    color: inherit;
}
aside .container-fluid{
    height: 100%;
}
aside .row{
    height: 100%;
}