/* HEADER */
header{
    height: 4.375rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header .btn{
    margin-right: -0.75rem;
}
header .row{
    height: 4.375rem;
}
.dropstart .dropdown-menu[data-bs-popper]{
    right:-57%;
    top: 2.5rem;
}