/* HEADER */
header{
    height: 4.375rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header .row{
    height: 4.375rem;
}
/* logo mobile */
.ms-logo-mobile{
    max-height: 4.375rem;
}
/* bottone dropdown */
.dropstart .dropdown-menu[data-bs-popper]{
    right:-10%;
    top: 2.5rem;
}
.ms-bell{
    color: #ff8f00;
}