/* MAIN */
main{
    overflow-y: auto;
}
/* sezione BOOLEAN */
#ms-boolean{
    background-color: #1c72e8;
    padding-left: 1.25rem;
    color: white;
}
/* sezione CLASSI */
#ms-class th:first-child{
    padding-right: 5.625rem;
}
/* RESPONSIVE */
@media screen and (min-width:992px) {
    main{
        width: calc(100% - 16.875rem);
    }
}