/* MAIN */
main{
    flex-grow: 1;
    overflow-y: auto;
}
/* sezione BOOLEAN */
#ms-boolean{
    background-color: #1c72e8;
    padding-left: 1.25rem;
    color: white;
}
/* sezione CLASSI */
#ms-class th:first-child{
    width: auto;
}
#ms-class th:not(:first-child){
    width: 6.25rem;
}