@import url(typography.css);
@import url(components.css);
@import url(header.css);
@import url(aside.css);
@import url(main.css);

body{
   max-height: 100vh;
}
.ms-container-aside-main{
    height: calc(100vh - 4.375rem);
    margin-top: 4.375rem;
    display: flex;
}